PORT=5000
MONGO_URI=mongodb://127.0.0.1:27017/construction_company
JWT_SECRET=construction_secret_key
CLIENT_URL=http://localhost:5173
ADMIN_NAME=Construction Admin
ADMIN_EMAIL=singhindiamzp@gmail.com
ADMIN_PASSWORD=admin123
